.App {
  margin: 2%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.products{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 5%;
  width: 100%;
  border: solid 2px blanchedalmond;
  border-radius: 15px;
  min-height: 50vh;
  background: #ededed;
}

.product{
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 10px;
  border-top: solid  gray;
  border-radius: 10px;
  width: 20%;
  height: auto;
}

.product:hover{
  width: 20.5%;
  transition: 1s all ease-in-out ;

}

.product div {
  min-height: 70px;
}

.img-container{
  margin: 10px;
  width: 100%;
}
.product-img{
  height: 500px;
  width: 100%;
  border-radius: 10px;
  border-bottom: solid;
}

.details-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  border-top: 2px solid;
  border-radius: 10px;
}

.product-category{
  align-self: center;
  width: fit-content;
  padding: 5px;
  border-radius: 10px;
  background-color: red;
  color: wheat;
  margin-top: 5px;
}
.product-main-details{

  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2em;
}
.product-title{
  margin: 0;
  padding-left: 10px;
  width: 70%;
  border-radius: 10px;
}
.product-description{
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  background: #ededed;
  font-family: 'Kelly Slab', cursive;
  line-height: 27px;
  padding: 1em;
  border-radius: 10px;
  text-align: justify;
  min-height: 25em;
}
.product-price{
  margin: 0;
  width: 30%;
  font-family:'Times New Roman', Times, serif ;
  font-weight: bold;
}
.product-rating{
  width: 100%;
  border-radius: 10px;
}

.description-button{
  background: burlywood;
  color: white;
  border: none;
  padding: 10px;
  font-weight: bold;
}
.description-button:hover{
  transition: 1s all ease-in-out ;
  background: wheat;
  cursor: pointer;
}

.search-container{
  width: 100%;
}

.search-form{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.search-bar{
  width: 50%;
  min-height: 28px;
  border: 2.5px solid sandybrown;
  border-radius: 10px;
  margin: 5px;
}

/*.search-button{*/
/*  position: inherit;*/
/*  width: 10%;*/
/*  height: 28px;*/
/*  background: sandybrown;*/
/*  border: none;*/
/*  border-radius: 12px;*/
/*}*/
/*.search-button:hover{*/
/*  background: darkorange;*/
/*  transition: 1.5s all ease-in-out ;*/
/*  color: white;*/
/*  cursor: pointer;*/

/*}*/

